/*
===
RESET
===
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;
}

ul,
ol,
menu {
  list-style-type: none;
  list-style-position: outside;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
===
ROOT
===
*/

:root {
  /* [--__var] is for user input. Don't apply. */
  /* [ --_var] is for calculation. Apply with care. */
  /* [  --var] is for final variables. Apply freely. */

  /*
  ==
  SET
  ==
  */

  /* * SET LAYOUT */

  /* viewport limits for dynamic scaling */
  --__vw-min: 400;
  --__vw-max: 1920;

  /* actual boundaries for content */
  --__cw-min: 240;
  --__cw-max: 960;

  /* * SET TYPOGRAPHY */

  /* font family */
  --ff: Inter, sans-serif;

  /* font feature settings */
  --ffs: "ss01", "ss02", "tnum";

  /* font size */
  --__fs-min: 16;
  --__fs-max: 20;
  --__fs-label: 16;

  /* line height */
  --lh-h1: 1.1;
  --lh-h2: 1.2;
  --lh-h3: 1.3;
  --lh-h4: 1.4;
  --lh-p: 1.5;
  --lh-l: 1;

  /* font weight */
  --fw-display: 700;
  --fw-text: 400;
  --fw-label: 400;

  /* font scaling ratio */
  --__fsr-min: 1.3;
  --__fsr-max: 1.5;

  /* letter spacing */
  --ls-display: normal;
  --ls-text: normal;
  --ls-label: normal;

  /* line length */
  --ll: 75ch;

  /* text wrap */
  --tw-text: balance;
  --tw-display: pretty;

  /* * SET SPACING */
  /* bleed (space between content and viewport) */
  --__s-bleed-min: 16;
  --__s-bleed-max: 48;

  /* * SET COLOR SCHEME */
  --color-scheme: light;

  /* * SET FILTERS */

  /* brightness change step (invert for dark mode) */
  --__cf-step-brightness: 0.05;

  /* * SET SWATCHES (invert names for dark mode) */

  /* neutral swatches */
  --swatch-neutral-05: #0d0d0d;
  --swatch-neutral-10: #1a1a1a;
  --swatch-neutral-15: #262626;
  --swatch-neutral-20: #333333;
  --swatch-neutral-80: #cccccc;
  --swatch-neutral-85: #d9d9d9;
  --swatch-neutral-90: #e6e6e6;
  --swatch-neutral-95: #f2f2f2;

  /* primary swatches */
  --swatch-primary-05: #1b0704;
  --swatch-primary-10: #350f09;
  --swatch-primary-15: #4e170e;
  --swatch-primary-20: #651f15;
  --swatch-primary-80: #feb8ae;
  --swatch-primary-85: #ffc6bd;
  --swatch-primary-90: #ffd7d0;
  --swatch-primary-95: #ffece9;

  /* error swatches */
  --swatch-error-05: #1c0800;
  --swatch-error-10: #361100;
  --swatch-error-15: #4f1b00;
  --swatch-error-20: #662400;
  --swatch-error-80: #ffbd8e;
  --swatch-error-85: #ffcda8;
  --swatch-error-90: #ffddc3;
  --swatch-error-95: #ffeee0;

  /* warning swatches */
  --swatch-warning-05: #120e00;
  --swatch-warning-10: #241c00;
  --swatch-warning-15: #352a00;
  --swatch-warning-20: #463800;
  --swatch-warning-80: #dfd17d;
  --swatch-warning-85: #e8dd9a;
  --swatch-warning-90: #f0e8b9;
  --swatch-warning-95: #f8f4db;

  /* info swatches */
  --swatch-info-05: #060d1e;
  --swatch-info-10: #0d1a39;
  --swatch-info-15: #142753;
  --swatch-info-20: #1c346c;
  --swatch-info-80: #b5cdff;
  --swatch-info-85: #c6daff;
  --swatch-info-90: #d9e6ff;
  --swatch-info-95: #ebf3ff;

  /* success swatches */
  --swatch-success-05: #001504;
  --swatch-success-10: #002a09;
  --swatch-success-15: #023d0e;
  --swatch-success-20: #064f15;
  --swatch-success-80: #9fe8ae;
  --swatch-success-85: #b5efc1;
  --swatch-success-90: #ccf6d5;
  --swatch-success-95: #e5fbe9;

  /*
  ==
  GET
  ==
  */

  /* special values */
  --_rem-uls: calc(1 / 16);
  --_rem: calc(var(--_rem-uls) * 1rem);
  --_vw: 100vw;
  /* @supports (width: 100dvw) {
    --_vw: 100dvw;
  } */

  /* * GET LAYOUT */

  /* viewport, rem, unitless */
  --_vw-min: calc(var(--__vw-min) * var(--_rem-uls));
  --_vw-max: calc(var(--__vw-max) * var(--_rem-uls));

  /* viewport, rem */
  --_vw-min-rem: calc(var(--_vw-min) * 1rem);
  --_vw-max-rem: calc(var(--_vw-max) * 1rem);

  /* content, rem, unitless */
  --_cw-min: calc(var(--__cw-min) * var(--_rem-uls));
  --_cw-max: calc(var(--__cw-max) * var(--_rem-uls));

  /* content, rem */
  --cw-min-rem: calc(var(--_cw-min) * 1rem);
  --cw-max-rem: calc(var(--_cw-max) * 1rem);

  /* * GET TYPOGRAPHY */

  /* font size, rem, unitless */
  --_fs-min: calc(var(--__fs-min) * var(--_rem-uls));
  --_fs-max: calc(var(--__fs-max) * var(--_rem-uls));
  --_fs-label: calc(var(--__fs-label) * var(--_rem-uls));

  /* font size, rem */
  --_fs-min-rem: calc(var(--_fs-min) * 1rem);
  --_fs-max-rem: calc(var(--_fs-max) * 1rem);
  --_fs-label-rem: calc(var(--_fs-label) * 1rem);

  /* label font size */
  --fs-l: var(--_fs-label-rem);

  /* paragraph font size */
  --fs-p: clamp(
    var(--_fs-min-rem),
    calc(
      var(--_fs-min-rem) + (var(--_fs-max) - var(--_fs-min)) *
        (var(--_vw) - var(--_vw-min-rem)) / (var(--_vw-max) - var(--_vw-min))
    ),
    var(--_fs-max-rem)
  );

  /* heading 4 font size */
  --fs-h4: var(--fs-p);

  /* heading 3 font size */
  --fs-h3: clamp(
    calc(var(--fs-p) * var(--__fsr-min)),
    calc(
      var(--__fsr-min) * var(--fs-p) + (var(--__fsr-max) - var(--__fsr-min)) *
        ((var(--_vw) - var(--_vw-min-rem)) * var(--_fs-max)) /
        (var(--_vw-max) - var(--_vw-min))
    ),
    calc(var(--fs-p) * var(--__fsr-max))
  );

  /* heading 2 font size */
  --fs-h2: clamp(
    calc(var(--fs-h3) * var(--__fsr-min)),
    calc(
      var(--__fsr-min) * var(--fs-h3) + (var(--__fsr-max) - var(--__fsr-min)) *
        ((var(--_vw) - var(--_vw-min-rem)) * var(--_fs-max) * var(--__fsr-max)) /
        (var(--_vw-max) - var(--_vw-min))
    ),
    calc(var(--fs-h3) * var(--__fsr-max))
  );

  /* heading 1 font size */
  --fs-h1: clamp(
    calc(var(--fs-h2) * var(--__fsr-min)),
    calc(
      var(--__fsr-min) * var(--fs-h2) + (var(--__fsr-max) - var(--__fsr-min)) *
        (
          (var(--_vw) - var(--_vw-min-rem)) * var(--_fs-max) * var(--__fsr-max) *
            var(--__fsr-max)
        ) / (var(--_vw-max) - var(--_vw-min))
    ),
    calc(var(--fs-h2) * var(--__fsr-max))
  );

  /* * GET SPACING */

  /* bleed, rem, unitless */
  --_s-bleed-min: calc(var(--__s-bleed-min) * var(--_rem-uls));
  --_s-bleed-max: calc(var(--__s-bleed-max) * var(--_rem-uls));

  /* bleed, rem */
  --_s-bleed-min-rem: calc(var(--_s-bleed-min) * 1rem);
  --_s-bleed-max-rem: calc(var(--_s-bleed-max) * 1rem);

  /* bleed */
  --s-bleed: clamp(
    var(--_s-bleed-min-rem),
    calc(
      var(--_s-bleed-min-rem) + (var(--_s-bleed-max) - var(--_s-bleed-min)) *
        (var(--_vw) - var(--_vw-min-rem)) / (var(--_vw-max) - var(--_vw-min))
    ),
    var(--_s-bleed-max-rem)
  );

  /* dynamic (font-size-dependent) sizes */
  --d-4: calc(4 / 16 * var(--fs-p));
  --d-8: calc(8 / 16 * var(--fs-p));
  --d-12: calc(12 / 16 * var(--fs-p));
  --d-16: calc(1 * var(--fs-p));
  --d-20: calc(20 / 16 * var(--fs-p));
  --d-24: calc(24 / 16 * var(--fs-p));
  --d-32: calc(2 * var(--fs-p));
  --d-48: calc(3 * var(--fs-p));
  --d-64: calc(4 * var(--fs-p));
  --d-80: calc(5 * var(--fs-p));
  --d-96: calc(6 * var(--fs-p));
  --d-128: calc(8 * var(--fs-p));
  --d-160: calc(10 * var(--fs-p));
  --d-192: calc(12 * var(--fs-p));
  --d-256: calc(16 * var(--fs-p));
  --d-384: calc(24 * var(--fs-p));

  /* static (rem-dependent) sizes */
  --s-1: 0.0625rem;
  --s-2: 0.125rem;
  --s-4: 0.25rem;
  --s-8: 0.5rem;
  --s-12: 0.75rem;
  --s-16: 1rem;
  --s-20: 1.25rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
  --s-96: 6rem;
  --s-128: 8rem;
  --s-160: 10rem;
  --s-192: 12rem;
  --s-256: 16rem;
  --s-384: 24rem;

  /* * GET FILTERS */

  /* interactive components */
  --cf-block-hover: brightness(calc(1 - var(--__cf-step-brightness)));
  --cf-block-focus: brightness(calc(1 - var(--__cf-step-brightness)));
  --cf-block-active: brightness(calc(1 - var(--__cf-step-brightness) * 2));

  /* mainly inline links */
  --cf-inline-hover: brightness(calc(1 + var(--__cf-step-brightness)));
  --cf-inline-focus: brightness(calc(1 + var(--__cf-step-brightness)));
  --cf-inline-active: brightness(calc(1 + var(--__cf-step-brightness) * 2));

  /* * GET COLORS */

  /* common */
  --c-background: var(--swatch-neutral-95);

  /* neutral */
  --c-area-neutral: var(--swatch-neutral-90);
  --c-area-neutral-hover: var(--swatch-neutral-85);
  --c-area-neutral-active: var(--swatch-neutral-80);
  --c-border-neutral: var(--swatch-neutral-80);
  --c-text-neutral: var(--swatch-neutral-10);

  /* tone */
  --c-area-tone: var(--swatch-primary-90);
  --c-area-tone-hover: var(--swatch-primary-85);
  --c-area-tone-active: var(--swatch-primary-80);
  --c-border-tone: var(--swatch-primary-80);
  --c-text-tone: var(--swatch-primary-10);

  /* accent */
  --c-area-accent: var(--swatch-primary-20);
  --c-area-accent-hover: var(--swatch-primary-15);
  --c-area-accent-active: var(--swatch-primary-10);
  --c-border-accent: var(--swatch-primary-10);
  --c-text-accent: var(--swatch-primary-95);

  /* error */
  --c-area-error: var(--swatch-error-90);
  --c-area-error-hover: var(--swatch-error-85);
  --c-area-error-active: var(--swatch-error-80);
  --c-border-error: var(--swatch-error-80);
  --c-text-error: var(--swatch-error-10);

  /* danger */
  --c-area-danger: var(--swatch-primary-20);
  --c-area-danger-hover: var(--swatch-primary-15);
  --c-area-danger-active: var(--swatch-primary-10);
  --c-border-danger: var(--swatch-primary-10);
  --c-text-danger: var(--swatch-primary-95);

  /* warning */
  --c-area-warning: var(--swatch-warning-90);
  --c-area-warning-hover: var(--swatch-warning-85);
  --c-area-warning-active: var(--swatch-warning-80);
  --c-border-warning: var(--swatch-warning-80);
  --c-text-warning: var(--swatch-warning-10);

  /* info */
  --c-area-info: var(--swatch-info-90);
  --c-area-info-hover: var(--swatch-info-85);
  --c-area-info-active: var(--swatch-info-80);
  --c-border-info: var(--swatch-info-80);
  --c-text-info: var(--swatch-info-10);

  /* success */
  --c-area-success: var(--swatch-success-90);
  --c-area-success-hover: var(--swatch-success-85);
  --c-area-success-active: var(--swatch-success-80);
  --c-border-success: var(--swatch-success-80);
  --c-text-success: var(--swatch-success-10);

  /* * GET TRANSITIONS */
  --dur-0_1: 0.1s;
  --dur-0_2: 0.2s;
  --dur-0_3: 0.3s;
  --dur-0_4: 0.4s;
  --dur-0_5: 0.5s;
  --dur-0_6: 0.6s;
  --dur-0_7: 0.7s;
  --dur-0_8: 0.8s;
  --dur-0_9: 0.9s;
  --dur-1_0: 1s;

  /* * GET MISC */
  --shadow-coords: 0 var(--s-2) 0;
}

/*
===
BASE
===
*/

/* * PAGE */

html {
  /* layout */
  height: 100%;
  scrollbar-gutter: stable;
  /* visual */
  color-scheme: var(--color-scheme);
  /* text */
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* misc */
  scroll-behavior: smooth;
}

body {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--d-128);
  margin: 0 auto;
  padding: var(--s-bleed);
  /* visual */
  background-color: var(--c-background);
  color: var(--c-text-neutral);
  /* text */
  font-family: var(--ff);
  font-feature-settings: var(--ffs);
  font-weight: var(--fw-text);
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  letter-spacing: var(--ls-text);
  /* misc */
}

/* * GRAPHICS */

figure {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-8);
}

figcaption {
  /* text */
  font-size: var(--fs-l);
  line-height: var(--lh-l);
}

img,
picture,
video,
canvas {
  width: 100%;
  /* visual */
  border-radius: var(--s-8);
  background-color: var(--c-area-neutral-active);
  object-fit: cover;
}

hr {
  /* visual */
  border: var(--s-2) solid var(--c-border-neutral);
  border-radius: var(--s-1);
}

/* * ROLES */

/* basic variations */

.subtle,
ul li::marker,
ol li::marker,
ul li::before,
ol li::before {
  opacity: 0.8;
}

.tone {
  /* visual */
  color: var(--c-text-tone);
  border-color: var(--c-border-tone);
}

.accent {
  /* visual */
  color: var(--c-text-accent);
  border-color: var(--c-border-accent);
}

.error {
  /* visual */
  color: var(--c-text-error);
  border-color: var(--c-border-error);
}

.danger {
  /* visual */
  color: var(--c-text-danger);
  border-color: var(--c-border-danger);
}

.warning {
  /* visual */
  color: var(--c-text-warning);
  border-color: var(--c-border-warning);
}

.info {
  /* visual */
  color: var(--c-text-info);
  border-color: var(--c-border-info);
}

.success {
  /* visual */
  color: var(--c-text-success);
  border-color: var(--c-border-success);
}

/* areas */

.area.cutout {
  /* visual */
  background-color: var(--c-background);
}

.area,
.tile {
  /* visual */
  border-radius: var(--s-8);
  background-color: var(--c-area-neutral);
}

.area.tone,
.tone .area,
.tile.tone,
.tone .tile {
  /* visual */
  background-color: var(--c-area-tone);
}

.area.accent,
.accent .area,
.tile.accent,
.accent .tile {
  /* visual */
  background-color: var(--c-area-accent);
}

.area.error,
.error .area,
.tile.error,
.error .tile {
  /* visual */
  background-color: var(--c-area-error);
}

.area.danger,
.danger .area,
.tile.danger,
.danger .tile {
  /* visual */
  background-color: var(--c-area-danger);
}

.area.warning,
.warning .area,
.tile.warning,
.warning .tile {
  /* visual */
  background-color: var(--c-area-warning);
}

.area.info,
.info .area,
.tile.info,
.info .tile {
  /* visual */
  background-color: var(--c-area-info);
}

.area.success,
.success .area,
.tile.success,
.success .tile {
  /* visual */
  background-color: var(--c-area-success);
}

/* interactive */

.tile {
  /* layout */
  padding: var(--s-16);
  min-width: var(--s-48);
  min-height: var(--s-48);
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-neutral);
  /* text */
  line-height: var(--lh-l);
  /* misc */
  transition: filter var(--dur-0_1) ease-in-out;
  cursor: pointer;
}

.tile.tone,
.tone .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-tone);
}

.tile.accent,
.accent .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-accent);
}

.tile.error,
.error .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-error);
}

.tile.danger,
.danger .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-danger);
}

.tile.warning,
.warning .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-warning);
}

.tile.info,
.info .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-info);
}

.tile.success,
.success .tile {
  /* visual */
  box-shadow: var(--shadow-coords) var(--c-border-success);
}

.tile:hover {
  /* visual */
  filter: var(--cf-block-hover);
}

.tile:focus {
  /* visual */
  filter: var(--cf-block-focus);
}

.tile:active {
  /* visual */
  filter: var(--cf-block-active);
}

/* draggable */

.draggable,
.draggable .tile {
  /* misc */
  cursor: grab;
}

.draggable:active,
.draggable:active .tile {
  /* misc */
  cursor: grabbing;
}

/* disabled */

.disabled {
  /* visual */
  opacity: 0.6;
  filter: grayscale(100%);
  /* misc */
  pointer-events: none;
}

/* * TEXT */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* layout */
  margin-bottom: var(--d-16);
  /* visual */
  /* text */
  font-weight: var(--fw-display);
  letter-spacing: var(--ls-display);
  text-wrap: var(--tw-display);
  word-wrap: break-word;
  /* misc */
}

h1 {
  /* layout */
  /* visual */
  /* text */
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  /* misc */
}

h2 {
  /* layout */
  /* visual */
  /* text */
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  /* misc */
}

h3 {
  /* layout */
  /* visual */
  /* text */
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  /* misc */
}

h4 {
  /* layout */
  /* visual */
  /* text */
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  /* misc */
}

p {
  /* layout */
  max-width: var(--ll);
  /* visual */
  /* text */
  text-wrap: var(--tw-text);
  /* misc */
}

strong {
  /* layout */
  /* visual */
  /* text */
  font-weight: var(--fw-display);
  /* misc */
}

em {
  /* layout */
  /* visual */
  /* text */
  font-style: italic;
  /* misc */
}

mark {
  /* layout */
  /* visual */
  background-color: var(--c-area-warning);
  color: var(--c-text-warning);
  /* text */
  padding: var(--s-1) var(--s-4);
  white-space: break-spaces;
  border-radius: var(--s-2);
  /* misc */
}

small,
.small {
  /* layout */
  /* visual */
  /* text */
  font-size: var(--fs-l);
  font-weight: var(--fw-label);
  /* misc */
}

blockquote {
  /* layout */
  padding: var(--d-16);
  /* visual */
  border: var(--s-2) solid var(--c-border-neutral);
  border-radius: var(--s-8);
  /* text */
  /* misc */
}

/* * TRUE LISTS */

section > ul,
section > ol,
blockquote > ul,
blockquote > ol {
  margin-left: var(--d-16);
}

section > ul,
blockquote > ul {
  list-style-type: disc;
}

section > ol,
blockquote > ol {
  list-style-type: decimal;
}

/* * INLINE LINKS */

a.inline {
  color: var(--c-text-tone);
  text-decoration: underline;
  cursor: pointer;
  transition: filter var(--dur-0_1) ease-in-out;
}

a.inline:hover {
  filter: var(--cf-inline-hover);
  opacity: 0.8;
}

a.inline:focus {
  filter: var(--cf-inline-focus);
  opacity: 0.8;
}

a.inline:active {
  filter: var(--cf-inline-active);
  opacity: 0.8;
  text-decoration-style: dotted;
}

/*
===
LAYOUT
===
*/

header,
main,
footer {
  /* layout */
  width: clamp(var(--cw-min-rem), 100%, var(--cw-max-rem));
}

header {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-16);
}

footer {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-32);
}

main {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-96);
}

section {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-16);
}

section section {
  margin-top: var(--d-48);
}

/*
===
COMPONENTS
===
*/

/* * NAVIGATION */

nav {
  /* layout */
  display: flex;
  flex-flow: row wrap;
  gap: var(--d-8);
}

/* * BUTTONS */

.button {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  padding: var(--d-16);
  width: max-content;
  min-width: var(--s-48);
  min-height: var(--s-48);
  /* text */
  font-size: var(--fs-l);
  font-weight: var(--fw-label);
  line-height: var(--lh-l);
}

.button span::before {
  margin-right: var(--s-8);
}

.button span::after {
  margin-left: var(--s-8);
}

/* * CARDS */

.cards {
  /* layout */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--s-256), 100%), 1fr)
  );
  grid-auto-rows: 1fr;
  gap: var(--d-16);
  margin-top: var(--d-16);
}

.card {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  aspect-ratio: 1;
  padding: var(--d-16);
}

.card a {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* text */
  font-size: var(--fs-h3);
  font-weight: var(--fw-display);
}

/* * FLASHCARDS */

.flashcards-wrapper {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-32);
}

.flashcards-viewer {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-16);
}

.flashcards-viewer .header {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.flashcards-viewer .window {
  /* layout */
  aspect-ratio: 2/1;
  perspective: 100vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcards-viewer .window .inner {
  position: relative;
  width: clamp(var(--s-128), 100%, var(--d-384));
  aspect-ratio: 3/2;
  transform-style: preserve-3d;
  transition: transform var(--dur-0_4);
}

.flashcards-viewer .window .inner.flipped {
  transform: rotateX(180deg);
}

.flashcards-viewer .window .inner .front,
.flashcards-viewer .window .inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flashcards-viewer .window .inner .front {
  transform: rotateX(0deg);
}

.flashcards-viewer .window .inner .back {
  transform: rotateX(180deg);
}

.flashcards-viewer .footer {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  gap: var(--d-16);
}

.flashcards-all {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-16);
}

.flashcards {
  /* layout */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--s-384), 100%), 1fr)
  );
  grid-auto-rows: 1fr;
  gap: var(--d-16);
}

.flashcard {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  padding: var(--d-16);
  gap: var(--d-16);
}

.flashcard img {
  /* layout */
  width: clamp(var(--s-64), 30%, var(--s-128));
  aspect-ratio: 1;
}

.flashcard dl {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: var(--d-8);
}

.flashcard dt {
  /* text */
  font-weight: var(--fw-display);
}

.flashcard dd {
  /* text */
  font-size: var(--fs-l);
}

/* * EXERCISES */

.task.success {
  /* misc */
  pointer-events: none;
}

.task.success.tile,
.task.success .tile {
  /* visual */
  filter: var(--cf-block-active);
}

/* fill gaps */

.ex-fg ol {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-24);
}

.ex-fg li {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--d-8);
}

.ex-fg .tile {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.ex-fg .tile span {
  visibility: hidden;
}

.ex-fg .tile.toggled span {
  visibility: visible;
}

/* order words */

.ex-ow ol {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-24);
}

.ex-ow li {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--d-8);
}

.ex-ow .tile {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* match pictures */

.ex-mp {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  gap: var(--d-32);
}

.ex-mp-task {
  /* layout */
  display: flex;
  flex-flow: column nowrap;
  gap: var(--d-16);
}

.ex-mp-task li {
  /* layout */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
}

.ex-mp-task li:active::before {
  /* visual */
  visibility: hidden;
}

.ex-mp-task .tile {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ex-mp-task.success .tile {
  /* misc */
  pointer-events: none;
}

.ex-mp-ref {
  /* layout */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--s-192), 100%), 1fr)
  );
  gap: var(--d-16);
}

.ex-mp-ref-item {
  /* layout */
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.ex-mp-ref-item img {
  /* layout */
  aspect-ratio: 1;
}

/*
===
UTILITIES
===
*/

/* * SKIP (hidden but focusable) */

.skip {
  /* position */
  position: absolute;
  left: -9999px;
  overflow: hidden;
  /* layout */
  width: 1px;
  height: 1px;
  /* misc */
}

/* * SPECIAL BUTTONS */

.button.skip:focus {
  /* position */
  position: static;
  overflow: auto;
  /* layout */
  width: auto;
  height: auto;
  /* misc */
}

.button.mail span::before {
  content: "✉️";
}

.button.skip span::after {
  content: "⏩";
}

.button.file span::before {
  content: "📄";
}

.back span::before {
  content: "⬅️";
}

.more span::after {
  content: "➡️";
}

/* * COUNTERS */

/* tasks */

#practice {
  /* misc */
  counter-reset: count-tasks;
}

#practice h3::before {
  /* misc */
  counter-increment: count-tasks;
  content: counter(count-tasks) ". ";
}

/* task items */

.ex-fg,
.ex-ow,
.ex-mp-task,
.ex-mp-ref {
  /* misc */
  counter-reset: count-items;
}

.ex-fg li::before,
.ex-ow li::before,
.ex-mp-task li::before {
  /* layout */
  margin-right: var(--d-8);
  /* misc */
  counter-increment: count-items;
  content: counter(count-items) ". ";
}

.ex-mp-ref li::before {
  /* position */
  position: absolute;
  bottom: var(--d-8);
  left: var(--d-8);
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--d-8);
  min-width: var(--d-32);
  min-height: var(--d-32);
  /* visual */
  background-color: var(--c-background);
  border-radius: var(--s-4);
  filter: var(--cf-inline-active);
  /* text */
  font-size: var(--fs-l);
  line-height: var(--lh-l);
  /* misc */
  counter-increment: count-items;
  content: counter(count-items);
}

/*
===
MEDIA: DARK MODE
===
*/

@media (prefers-color-scheme: dark) {
  :root {
    --temp: 0;
    /* * SET COLOR SCHEME */

    /* --color-scheme: dark; */

    /* * SET FILTERS */

    /* brightness change step (invert for dark mode) */
    /* --__cf-step-brightness: -0.1; */

    /* * SET SWATCHES (invert for dark mode) */

    /* neutral swatches */
    /* --swatch-neutral-99: hsl(0, 0%, 1%);
    --swatch-neutral-95: hsl(0, 0%, 5%);
    --swatch-neutral-90: hsl(0, 0%, 10%);
    --swatch-neutral-85: hsl(0, 0%, 15%);
    --swatch-neutral-80: hsl(0, 0%, 20%);
    --swatch-neutral-60: hsl(0, 0%, 40%);
    --swatch-neutral-40: hsl(0, 0%, 60%);
    --swatch-neutral-20: hsl(0, 0%, 80%);
    --swatch-neutral-15: hsl(0, 0%, 85%);
    --swatch-neutral-10: hsl(0, 0%, 90%);
    --swatch-neutral-05: hsl(0, 0%, 95%);
    --swatch-neutral-01: hsl(0, 0%, 99%); */

    /* primary swatches */
    /* --swatch-primary-95: hsl(330, 75%, 5%);
    --swatch-primary-90: hsl(330, 75%, 10%);
    --swatch-primary-85: hsl(330, 75%, 15%);
    --swatch-primary-80: hsl(330, 75%, 20%);
    --swatch-primary-20: hsl(330, 75%, 80%);
    --swatch-primary-15: hsl(330, 75%, 85%);
    --swatch-primary-10: hsl(330, 75%, 90%);
    --swatch-primary-05: hsl(330, 75%, 95%); */

    /* error swatches */
    /* --swatch-error-95: hsl(20, 100%, 5%);
    --swatch-error-90: hsl(20, 100%, 10%);
    --swatch-error-85: hsl(20, 100%, 15%);
    --swatch-error-80: hsl(20, 100%, 20%);
    --swatch-error-20: hsl(20, 100%, 80%);
    --swatch-error-15: hsl(20, 100%, 85%);
    --swatch-error-10: hsl(20, 100%, 90%);
    --swatch-error-05: hsl(20, 100%, 95%); */

    /* warning swatches */
    /* --swatch-warning-95: hsl(50, 100%, 5%);
    --swatch-warning-90: hsl(50, 100%, 10%);
    --swatch-warning-85: hsl(50, 100%, 15%);
    --swatch-warning-80: hsl(50, 100%, 20%);
    --swatch-warning-20: hsl(50, 100%, 80%);
    --swatch-warning-15: hsl(50, 100%, 85%);
    --swatch-warning-10: hsl(50, 100%, 90%);
    --swatch-warning-05: hsl(50, 100%, 95%); */

    /* info swatches */
    /* --swatch-info-95: hsl(220, 75%, 5%);
    --swatch-info-90: hsl(220, 75%, 10%);
    --swatch-info-85: hsl(220, 75%, 15%);
    --swatch-info-80: hsl(220, 75%, 20%);
    --swatch-info-20: hsl(220, 75%, 80%);
    --swatch-info-15: hsl(220, 75%, 85%);
    --swatch-info-10: hsl(220, 75%, 90%);
    --swatch-info-05: hsl(220, 75%, 95%); */

    /* success swatches */
    /* --swatch-success-95: hsl(120, 75%, 5%);
    --swatch-success-90: hsl(120, 75%, 10%);
    --swatch-success-85: hsl(120, 75%, 15%);
    --swatch-success-80: hsl(120, 75%, 20%);
    --swatch-success-20: hsl(120, 75%, 80%);
    --swatch-success-15: hsl(120, 75%, 85%);
    --swatch-success-10: hsl(120, 75%, 90%);
    --swatch-success-05: hsl(120, 75%, 95%); */
  }
}

/*
===
MEDIA: REDUCED MOTION
===
*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  :root {
    /* * SET TRANSITIONS */
    --dur-0_1: 0s;
    --dur-0_2: 0s;
    --dur-0_3: 0s;
    --dur-0_4: 0s;
    --dur-0_5: 0s;
    --dur-0_6: 0s;
    --dur-0_7: 0s;
    --dur-0_8: 0s;
    --dur-0_9: 0s;
    --dur-1_0: 0s;
  }

  html {
    scroll-behavior: auto;
  }
}

/*
===
MEDIA: PRINT
===
*/

/* ! Unfinished */
@media print {
  :root {
    /* color scheme */
    --color-scheme: light;
  }
}
